*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Helvetica, sans-serif;    
}

body {
    display: flexbox;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.main-box {
    margin: 2rem;
    display: flexbox;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
    width: min-content;
    height: min-content;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
}

.poster {
    width: 80vw;
    height: 10vh;
}

/* 
.imgcontain {
    display: flexbox;
    justify-content: center;
    align-items: center;
} */

/* .poster-background {
    display: flex;
    background: pink;
    background: no-repeat url(https://picsum.photos/seed/darkness/800/800), pink;
    background-position: center;
    border-radius: 30px;
} */

.poster-container {
    
}
.upper-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2.5rem 0;
}

.buton {
    background: none;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 10px;
    padding: 4px 9px;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
    display: inline-block;
    
    
}

.buton:hover {
    background: crimson;
}

.LogoSize {
    width: 63px;
    
}

.SH {
    width: 50px;
}



.poster-content {
    margin: .1rem 2rem 1rem 2rem;
    position: relative;
    left: 1vh;
    top: 1vw;
}

.paragraphs {
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.paragraph-text-2 {
    display: none;
}


.poster-heading {
    font-size: 15px;
    margin-top: 1.5rem;
    display: flex;    
}

.riwayat {
    display: flex;
    align-items: center;
}

.riwayat-text {
    padding-left: 2rem;
    font-size: 12px;
    color: #444;
    
}

.footer-row {
    display: inline;
    margin: 0 auto;
}

.footer-logo li{
    display: inline;
    list-style: circle;
}




@media only screen and (min-width: 1000px) {

    body {
        display: flexbox;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }

    .main-box {
        margin: 2rem 16rem;
        display: flexbox;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        border: none;
        width: min-content;
        height: min-content;
        box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.5);
    }

    .poster {
        width: 70vw;
        height: 85vh;
    }

    /* 
    .imgcontain {
        display: flexbox;
        justify-content: center;
        align-items: center;
    } */

    /* .poster-background {
        display: flex;
        background: pink;
        background: no-repeat url(https://picsum.photos/seed/darkness/800/800), pink;
        background-position: center;
        border-radius: 30px;
    } */

    .poster-container {
        
    }
    .upper-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2.5rem;
    }

    .LogoSize {
        width: 80px;
        
    }

    .SH {
        width: 60px;

    }

    .poster-content {
        margin: 1rem 20rem 0 8rem;
        position: absolute;
        left: 40vh;
        top: 1vw;
    }

    .paragraphs {
    }

    .paragraphs-text {
    }

    .poster-heading {
        margin-top: 6rem;
        font-size: 25px;
        display: flex;    
    }

    .riwayat-text {
        padding-left: 2rem;
        font-size: 12px;
        color: #444;
    }

    .footer-row {
        display: inline;
        margin: 0 auto;
    }

    .footer-logo li{
        display: inline;
        list-style: circle;
    }

}